{% macro group_picker(group_selection) %}
  <div class="group-picker-field">
    <span>分组</span>
    <details class="group-picker" data-group-picker data-default-group="{{ group_selection.default_value }}">
      <summary>
        <strong data-group-picker-label>{{ group_selection.label }}</strong>
      </summary>
      <div class="group-picker-menu">
        <div class="group-picker-actions">
          <button type="button" data-group-picker-default>默认</button>
          <button type="button" data-group-picker-all>全选</button>
        </div>
        <div class="group-picker-list">
          {% for item in group_selection.options %}
            <label>
              <input
                type="checkbox"
                name="group"
                value="{{ item.name }}"
                data-group-picker-option
                data-default-group="{{ '1' if item.is_default else '0' }}"
                {{ 'checked' if item.checked else '' }}
              />
              <span>{{ item.name }}</span>
              {% if item.platform %}
                <em>{{ item.platform }}</em>
              {% endif %}
            </label>
          {% endfor %}
        </div>
      </div>
    </details>
  </div>
{% endmacro %}

{% macro group_hidden_inputs(group_selection) %}
  {% for value in group_selection.form_values %}
    <input type="hidden" name="group" value="{{ value }}" />
  {% endfor %}
{% endmacro %}
